In [1]:
import cropvalidation 
import os
import numpy as np
import pandas as pd

### TOGO

Load data

load in togo data as cropmasks

In [2]:
togo_data = []
dir = 'data/TogoBinaryMaps'
for tif in os.listdir(dir):
    f = os.path.join(dir, tif)
    if f == "data/TogoBinaryMaps\AgreementMap_Togo_Binary.tif":
        continue
    togo_data.append(cropvalidation.CropMask(f))

togo_labels = [togo_data[x].getName().split("\\")[-1][:-11] for x in np.arange(len(togo_data))]

TOGO_BINARY = dict(zip(togo_labels, togo_data))

Matched Sets

In [3]:
TOGO_VALIDATION = cropvalidation.ValidationSet(path = 'data/HarvestData/togo.csv', projection='epsg:4326')
TOGO_VALIDATION.validation = TOGO_VALIDATION.validation[TOGO_VALIDATION.validation['subset'] == 'testing']
TOGO_VALIDATION.validation = TOGO_VALIDATION.validation[['lat', 'lon', 'crop_probability']]

TOGO_VALIDATION.validation.crop_probability = TOGO_VALIDATION.validation.crop_probability.astype(float)

TOGO_VALIDATION.filter()
TOGO_VALIDATION.reproject_validation(outProjection='epsg:32631')

In [4]:
TOGO_VALIDATION.getData()

                lat           lon  crop_probability
77    170560.155817  1.188884e+06               1.0
116   172692.923816  1.193288e+06               0.0
140   177454.027895  1.221734e+06               1.0
145   181613.837353  1.171039e+06               1.0
218   194962.643680  1.214083e+06               1.0
...             ...           ...               ...
1522  345720.588089  8.986492e+05               0.0
1523  345633.778487  8.548428e+05               1.0
1531  346580.577840  9.969522e+05               0.0
1544  346361.833763  7.019713e+05               1.0
1561  348127.594121  9.458717e+05               0.0

[185 rows x 3 columns]

In [5]:
TOGO_MATCHED = []
for binarymap in np.arange(len(togo_data)):
    TOGO_MATCHED.append(cropvalidation.MatchedSet(togo_data[binarymap], TOGO_VALIDATION))

In [6]:
TOGO_MATCHED[0].data

               lat           lon  crop_probability  cropmask
0    170560.155817  1.188884e+06               1.0       1.0
1    172692.923816  1.193288e+06               0.0       1.0
2    177454.027895  1.221734e+06               1.0       1.0
3    181613.837353  1.171039e+06               1.0       1.0
4    194962.643680  1.214083e+06               1.0       1.0
..             ...           ...               ...       ...
180  345720.588089  8.986492e+05               0.0       1.0
181  345633.778487  8.548428e+05               1.0       1.0
182  346580.577840  9.969522e+05               0.0       0.0
183  346361.833763  7.019713e+05               1.0       1.0
184  348127.594121  9.458717e+05               0.0       0.0

[185 rows x 4 columns]

In [7]:
TOGO_F1_SCORES = []
for binarymap in np.arange(len(TOGO_MATCHED)):
    #TOGO_MATCHED[binarymap].remove_filler()
    TOGO_F1_SCORES.append(TOGO_MATCHED[binarymap].get_f1())

TOGO_F1_SCORES = pd.DataFrame(data=zip(TOGO_F1_SCORES, [x.split('/')[-1] for x in togo_labels]))
TOGO_F1_SCORES

          0                  1
0  0.471910          ASAP_Togo
1  0.592593   CombinedMap_Togo
2  0.205882    Copernicus_Togo
3  0.634146  DigitalEarth_Togo
4  0.707317           ESA_Togo
5  0.107143          ESRI_Togo
6  0.615385         GFSAD_Togo
7  0.779661       Harvest_Togo

KENYA DATA

In [1]:
import cropvalidation 
import os
import numpy as np
import pandas as pd

In [2]:
kenya_data = []
dir = 'data/KenyaBinaryMaps'
for tif in os.listdir(dir):
    f = os.path.join(dir, tif)
    if f == "data/KenyaBinaryMaps/Agreement_Kenya_Binary.tif":
        continue
    kenya_data.append(cropvalidation.CropMask(f))

kenya_labels = [kenya_data[x].getName().split("\\")[-1][:-11] for x in np.arange(len(kenya_data))]

KENYA_BINARY = dict(zip(kenya_labels, kenya_data))
kenya_data[0].getProjection()

CRS.from_epsg(32736)

In [3]:
KENYA_VALIDATION = cropvalidation.ValidationSet(path = 'data/HarvestData/kenya.csv', projection='epsg:4326')
KENYA_VALIDATION.validation = KENYA_VALIDATION.validation[KENYA_VALIDATION.validation['subset'] == 'testing']
KENYA_VALIDATION.validation = KENYA_VALIDATION.validation[['lat', 'lon', 'crop_probability']]

KENYA_VALIDATION.validation.crop_probability = KENYA_VALIDATION.validation.crop_probability.astype(float)

KENYA_VALIDATION.filter()
KENYA_VALIDATION.reproject_validation(outProjection='epsg:32736')

In [4]:
KENYA_MATCHED = []
for binarymap in np.arange(len(kenya_data)):
    KENYA_MATCHED.append(cropvalidation.MatchedSet(kenya_data[binarymap], KENYA_VALIDATION))

In [7]:
KENYA_F1_SCORES = []
for binarymap in np.arange(len(KENYA_MATCHED)):
    KENYA_MATCHED[binarymap].remove_filler()
    KENYA_F1_SCORES.append(KENYA_MATCHED[binarymap].get_f1())

KENYA_F1_SCORES = pd.DataFrame(data=zip(KENYA_F1_SCORES, [x.split('/')[-1] for x in kenya_labels]))
KENYA_F1_SCORES

          0                    1
0  0.068966      Agreement_Kenya
1  0.963739           Asap_Kenya
2  0.965633    CombinedMap_Kenya
3  0.190193     Copernicus_Kenya
4  0.932575             DE_Kenya
5  0.305132  EsaWorldcover_Kenya
6  0.707724           ESRI_Kenya
7  0.973451          GFSAD_Kenya
8  0.967309        Harvest_Kenya

Scores to add
- user?
- cropland evaluation & non cropland evaluation